.heading {
    color: blue;
    color: #371cc7;
    text-align: center;
    border: 1px solid gray;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 5px;
}

.contentWrapper {
    display: flex;
}

.postsWrapper {
    width: 70%;
}

.formWrapper {
    width: 30%;
}