.heading {
    color: #0e3a50;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

.contentWrapper {
    display: flex;
}

.postsWrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formWrapper {
    width: 30%;
    padding: 0 10px;
}