.heading {
    color: #0e3a50;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

.contentWrapper {
    display: flex;
}

.postsWrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.formWrapper {
    width: 30%;
    padding: 10px;
}

@media screen and (min-width: 400px) and (max-width: 650px) {
    .postsWrapper {
        width: 50%;
    }

    .formWrapper {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .contentWrapper {
        flex-direction: column-reverse;
    }

    .formWrapper, .postsWrapper {
        width: 100%;
    }
}