.memoryFormHeading {
    text-align: center;
    color: #0e3a50;
}

.memoryForm {
    margin-top: 10px;
}

.inputField {
    width: 100%;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
}

.memoryFormBtn {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background: #0e3a50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.resetBtn {
    background: #ff2d2d;
}